<section id="benefits" class="section default benefits-section">
    <div class="container default-type">
        <div class="content">
            <div class="top-part">
                <h2 class="title type2">Підключіть передплату за 1 грн та отримуйте:</h2>
            </div>
            <div class="middle-part">
                <ul class="benefits-list">
                    <li>
                        <div class="title type4">ТВ-архів</div>
                        <p class="text">телепередач до 14 днів</p>
                    </li>
                    <li>
                        <div class="title type4">Full HD</div>
                        <p class="text">якість тільки за передплатою</p>
                    </li>
                    <li>
                        <div class="title type4">10% знижка</div>
                        <p class="text">на прем'єри</p>
                    </li>
                    <li>
                        <div class="title type4">5 пристроїв</div>
                        <p class="text">в одній передплаті</p>
                    </li>
                    <li>
                        <div class="title type4">Без реклами</div>
                        <p class="text">на всіх фільмах та мультфільмах</p>
                    </li>
                </ul>
            </div>
            <div class="bottom-part">
                <div class="btn-container">
                    <button class="btn type1">Підключити</button>
                </div>
            </div>
        </div>
    </div>
</section>