<header class="header">
    <div class="container header-type">
        <div class="content">
            <button id="burger-btn" class="mobile-menu-btn">
                <svg class="icon">
                    <use xlink:href="sprite/sprite.svg#burger__icon"></use>
                </svg>
            </button>
            <nav class="navigation">
                <ul class="navigation-list">
                    <li>
                        <a href="#welcome">Вступ</a>
                    </li>
                    <li>
                        <a href="#watch-offline">Офлайн</a>
                    </li>
                    <li>
                        <a href="#subscription">Підписка</a>
                    </li>
                    <li>
                        <a href="#partners">Партнери</a>
                    </li>
                    <li>
                        <a href="#benefits">Переваги</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>