<section id="partners" class="section default partners-section">
    <div class="container default-type">
        <div class="content">
            <div class="top-part">
                <h2 class="title type2">Подарунки від партнерів при кожному продовженні передплати</h2>
                <p class="text">Сертифікати на знижки від WOG, Сушія, Антошка, Єва та ін.</p>
            </div>
            <div class="bottom-part">
                <div class="img-container">
                    <img src="./images/partners-section-decor__img.webp" alt="Сертифікати на знижки від WOG, Сушія, Антошка, Єва та ін.">
                </div>
            </div>
        </div>
    </div>
    <div class="decor-shadow"></div>
</section>