<section id="subscription" class="section default subscription-section">
    <div class="container default-type">
        <div class="content">
            <div class="top-part">
                <p class="text type1">Передплата</p>
                <h2 class="title type2">Оптимальна</h2>
            </div>
            <div class="middle-part">
                <h1 class="title type3">10000 фільмів та 160+ каналів</h1>
                <p class="text type1">Голлівудська класика та свіжі кіно-новинки за підпискою, прямі футбольні трансляції та понад 160 каналів</p>
            </div>
            <div class="bottom-part">
                <h2 class="title type2">від 1 ГРН</h2>
                <div class="btn-container">
                    <button class="btn type1">Спробувати</button>
                </div>
                <div class="info">
                    <span class="info-text type1">Перші 14 днів за 1 грн,</span>
                    <span class="info-text type2">Далі – 97 грн/міс.</span>
                </div>
                <a href="/" class="btn type-link">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="bg-img">
        <div class="shadow-decor type1"></div>
        <div class="shadow-decor type2"></div>
        <img src="./images/subscription-section-bg__img.webp" alt="decor-img">
    </div>
</section>