<section id="watch-offline" class="section default watch-offline-section">
    <div class="container default-type">
        <div class="content">
            <h2 class="title type2">Дивіться фільми <br> без інтернету</h2>
            <p class="text type1">Завантаження фільмів та серіалів на ваш пристрій.</p>
            <div class="decor-img">
                <img src="./images/watch-offline-decor__img.webp" alt="Дивіться фільми без інтернету">
            </div>
        </div>
    </div>
    <div class="decor-shadow"></div>
</section>