<section id="welcome" class="section default welcome-section">
    <div class="container default-type">
        <div class="content">
            <h2 class="title type1">Дивіться ТБ та кіно без реклами в єдиній передплаті</h2>
            <p class="text type1">Популярні телеканали та величезна бібліотека фільмів, серіалів, мультфільмів, трансляцій у єдиній передплаті.</p>
        </div>
    </div>
    <button id="scroll-btn" class="scroll-down-btn">
        <svg class="icon">
            <use xlink:href="sprite/sprite.svg#scroll-arrow__icon"></use>
        </svg>
    </button>
    <div class="bg-wrapper">
        <img src="./images/welcome-bg__img.webp" alt="Популярні телеканали та величезна бібліотека фільмів, серіалів, мультфільмів, трансляцій у єдиній передплаті.">
    </div>
</section>